# Byte-compiled / optimized / DLL files
__pycache__/

.pytest_cache/



# Environments
.env
venv/


# Streamlit 
.streamlit/


# Visual Studio Code
.vscode/*
.vscode/


# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix


# Ariflow
airflow/logs
airflow/dags/__pycache__
airflow/*.cfg
airflow/*.log
airflow/*.py
airflow/*.db
airflow/*.txt
airflow/*.pid


# nltk 
nltk/

.prettierignore
