# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/#use-with-ide
.pdm.toml

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/


# Streamlit 
.streamlit/


# notebooks
notebooks



# Visual Studio Code
.vscode/*
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix


# Ariflow
airflow/logs
airflow/dags/__pycache__
airflow/*.cfg
airflow/*.log
airflow/*.py
airflow/*.db
airflow/*.txt
airflow/*.pid
airflow/venv

data
airflow/cardiffnlp/twitter-roberta-base-sentiment-latest/
streamlit/venv_streamlit/lib64
streamlit/venv_streamlit/pyvenv.cfg
streamlit/venv_streamlit/bin/activate
streamlit/venv_streamlit/bin/activate.csh
streamlit/venv_streamlit/bin/activate.fish
streamlit/venv_streamlit/bin/Activate.ps1
streamlit/venv_streamlit/bin/dotenv
streamlit/venv_streamlit/bin/f2py
streamlit/venv_streamlit/bin/f2py3
streamlit/venv_streamlit/bin/f2py3.10
streamlit/venv_streamlit/bin/fonttools
streamlit/venv_streamlit/bin/jp.py
streamlit/venv_streamlit/bin/jsonschema
streamlit/venv_streamlit/bin/markdown-it
streamlit/venv_streamlit/bin/nltk
streamlit/venv_streamlit/bin/normalizer
streamlit/venv_streamlit/bin/pathy
streamlit/venv_streamlit/bin/pip
streamlit/venv_streamlit/bin/pip3
streamlit/venv_streamlit/bin/pip3.10
streamlit/venv_streamlit/bin/pyftmerge
streamlit/venv_streamlit/bin/pyftsubset
streamlit/venv_streamlit/bin/pygmentize
streamlit/venv_streamlit/bin/python
streamlit/venv_streamlit/bin/python3
streamlit/venv_streamlit/bin/python3.10
streamlit/venv_streamlit/bin/spacy
streamlit/venv_streamlit/bin/streamlit
streamlit/venv_streamlit/bin/streamlit.cmd
streamlit/venv_streamlit/bin/tqdm
streamlit/venv_streamlit/bin/ttx
streamlit/venv_streamlit/bin/watchmedo
streamlit/venv_streamlit/bin/wordcloud_cli
streamlit/venv_streamlit/etc/jupyter/nbconfig/notebook.d/jupyterlab-plotly.json
streamlit/venv_streamlit/etc/jupyter/nbconfig/notebook.d/pydeck.json
streamlit/venv_streamlit/share/jupyter/labextensions/jupyterlab-plotly/package.json
streamlit/venv_streamlit/share/jupyter/labextensions/jupyterlab-plotly/static/133.5342d9bec93d5de59ad2.js
streamlit/venv_streamlit/share/jupyter/labextensions/jupyterlab-plotly/static/423.d0d3e2912c33c7566484.js
streamlit/venv_streamlit/share/jupyter/labextensions/jupyterlab-plotly/static/478.247fddac0148cc4e151b.js
streamlit/venv_streamlit/share/jupyter/labextensions/jupyterlab-plotly/static/478.247fddac0148cc4e151b.js.LICENSE.txt
streamlit/venv_streamlit/share/jupyter/labextensions/jupyterlab-plotly/static/486.6450efe6168c2f8caddb.js
streamlit/venv_streamlit/share/jupyter/labextensions/jupyterlab-plotly/static/486.6450efe6168c2f8caddb.js.LICENSE.txt
streamlit/venv_streamlit/share/jupyter/labextensions/jupyterlab-plotly/static/657.d89469e0b1d5bb171fde.js
streamlit/venv_streamlit/share/jupyter/labextensions/jupyterlab-plotly/static/855.323c80e7298812d692e7.js
streamlit/venv_streamlit/share/jupyter/labextensions/jupyterlab-plotly/static/remoteEntry.f294278414d0a929e4ae.js
streamlit/venv_streamlit/share/jupyter/labextensions/jupyterlab-plotly/static/style.js
streamlit/venv_streamlit/share/jupyter/labextensions/jupyterlab-plotly/static/third-party-licenses.json
streamlit/venv_streamlit/share/jupyter/nbextensions/jupyterlab-plotly/extension.js
streamlit/venv_streamlit/share/jupyter/nbextensions/jupyterlab-plotly/index.js
streamlit/venv_streamlit/share/jupyter/nbextensions/jupyterlab-plotly/index.js.LICENSE.txt
streamlit/venv_streamlit/share/jupyter/nbextensions/pydeck/extensionRequires.js
streamlit/venv_streamlit/share/jupyter/nbextensions/pydeck/index.js
streamlit/venv_streamlit/share/jupyter/nbextensions/pydeck/index.js.map
streamlit/venv_streamlit/share/man/man1/ttx.1
airflow/venv_airflow/lib64
airflow/venv_airflow/pyvenv.cfg
airflow/venv_airflow/bin/activate
airflow/venv_airflow/bin/activate-global-python-argcomplete
airflow/venv_airflow/bin/activate.csh
airflow/venv_airflow/bin/activate.fish
airflow/venv_airflow/bin/Activate.ps1
airflow/venv_airflow/bin/airflow
airflow/venv_airflow/bin/alembic
airflow/venv_airflow/bin/cmake
airflow/venv_airflow/bin/connexion
airflow/venv_airflow/bin/convert-caffe2-to-onnx
airflow/venv_airflow/bin/convert-onnx-to-caffe2
airflow/venv_airflow/bin/cpack
airflow/venv_airflow/bin/ctest
airflow/venv_airflow/bin/docutils
airflow/venv_airflow/bin/dotenv
airflow/venv_airflow/bin/email_validator
airflow/venv_airflow/bin/f2py
airflow/venv_airflow/bin/f2py3
airflow/venv_airflow/bin/f2py3.10
airflow/venv_airflow/bin/fabmanager
airflow/venv_airflow/bin/flask
airflow/venv_airflow/bin/get_objgraph
airflow/venv_airflow/bin/gunicorn
airflow/venv_airflow/bin/httpx
airflow/venv_airflow/bin/huggingface-cli
airflow/venv_airflow/bin/isympy
airflow/venv_airflow/bin/jp.py
airflow/venv_airflow/bin/jsonschema
airflow/venv_airflow/bin/lit
airflow/venv_airflow/bin/mako-render
airflow/venv_airflow/bin/markdown_py
airflow/venv_airflow/bin/markdown-it
airflow/venv_airflow/bin/normalizer
airflow/venv_airflow/bin/nvd3
airflow/venv_airflow/bin/pip
airflow/venv_airflow/bin/pip3
airflow/venv_airflow/bin/pip3.10
airflow/venv_airflow/bin/pybabel
airflow/venv_airflow/bin/pygmentize
airflow/venv_airflow/bin/python
airflow/venv_airflow/bin/python-argcomplete-check-easy-install-script
airflow/venv_airflow/bin/python3
airflow/venv_airflow/bin/python3.10
airflow/venv_airflow/bin/register-python-argcomplete
airflow/venv_airflow/bin/rst2html.py
airflow/venv_airflow/bin/rst2html4.py
airflow/venv_airflow/bin/rst2html5.py
airflow/venv_airflow/bin/rst2latex.py
airflow/venv_airflow/bin/rst2man.py
airflow/venv_airflow/bin/rst2odt_prepstyles.py
airflow/venv_airflow/bin/rst2odt.py
airflow/venv_airflow/bin/rst2pseudoxml.py
airflow/venv_airflow/bin/rst2s5.py
airflow/venv_airflow/bin/rst2xetex.py
airflow/venv_airflow/bin/rst2xml.py
airflow/venv_airflow/bin/rstpep2html.py
airflow/venv_airflow/bin/slugify
airflow/venv_airflow/bin/sqlformat
airflow/venv_airflow/bin/tabulate
airflow/venv_airflow/bin/torchrun
airflow/venv_airflow/bin/tqdm
airflow/venv_airflow/bin/transformers-cli
airflow/venv_airflow/bin/undill
airflow/venv_airflow/bin/wheel
airflow/venv_airflow/generated/provider_dependencies.json
airflow/venv_airflow/include/site/python3.10/greenlet/greenlet.h
airflow/venv_airflow/share/doc/networkx-3.1/LICENSE.txt
airflow/venv_airflow/share/doc/networkx-3.1/examples/README.txt
airflow/venv_airflow/share/doc/networkx-3.1/examples/3d_drawing/mayavi2_spring.py
airflow/venv_airflow/share/doc/networkx-3.1/examples/3d_drawing/plot_basic.py
airflow/venv_airflow/share/doc/networkx-3.1/examples/3d_drawing/README.txt
airflow/venv_airflow/share/doc/networkx-3.1/examples/algorithms/hartford_drug.edgelist
airflow/venv_airflow/share/doc/networkx-3.1/examples/algorithms/plot_beam_search.py
airflow/venv_airflow/share/doc/networkx-3.1/examples/algorithms/plot_betweenness_centrality.py
airflow/venv_airflow/share/doc/networkx-3.1/examples/algorithms/plot_blockmodel.py
airflow/venv_airflow/share/doc/networkx-3.1/examples/algorithms/plot_circuits.py
airflow/venv_airflow/share/doc/networkx-3.1/examples/algorithms/plot_davis_club.py
airflow/venv_airflow/share/doc/networkx-3.1/examples/algorithms/plot_dedensification.py
airflow/venv_airflow/share/doc/networkx-3.1/examples/algorithms/plot_girvan_newman.py
airflow/venv_airflow/share/doc/networkx-3.1/examples/algorithms/plot_iterated_dynamical_systems.py
airflow/venv_airflow/share/doc/networkx-3.1/examples/algorithms/plot_krackhardt_centrality.py
airflow/venv_airflow/share/doc/networkx-3.1/examples/algorithms/plot_maximum_independent_set.py
airflow/venv_airflow/share/doc/networkx-3.1/examples/algorithms/plot_parallel_betweenness.py
airflow/venv_airflow/share/doc/networkx-3.1/examples/algorithms/plot_rcm.py
airflow/venv_airflow/share/doc/networkx-3.1/examples/algorithms/plot_snap.py
airflow/venv_airflow/share/doc/networkx-3.1/examples/algorithms/plot_subgraphs.py
airflow/venv_airflow/share/doc/networkx-3.1/examples/algorithms/README.txt
airflow/venv_airflow/share/doc/networkx-3.1/examples/algorithms/WormNet.v3.benchmark.txt
airflow/venv_airflow/share/doc/networkx-3.1/examples/basic/plot_properties.py
airflow/venv_airflow/share/doc/networkx-3.1/examples/basic/plot_read_write.py
airflow/venv_airflow/share/doc/networkx-3.1/examples/basic/plot_simple_graph.py
airflow/venv_airflow/share/doc/networkx-3.1/examples/basic/README.txt
airflow/venv_airflow/share/doc/networkx-3.1/examples/drawing/chess_masters_WCC.pgn.bz2
airflow/venv_airflow/share/doc/networkx-3.1/examples/drawing/knuth_miles.txt.gz
airflow/venv_airflow/share/doc/networkx-3.1/examples/drawing/plot_center_node.py
airflow/venv_airflow/share/doc/networkx-3.1/examples/drawing/plot_chess_masters.py
airflow/venv_airflow/share/doc/networkx-3.1/examples/drawing/plot_custom_node_icons.py
airflow/venv_airflow/share/doc/networkx-3.1/examples/drawing/plot_degree.py
airflow/venv_airflow/share/doc/networkx-3.1/examples/drawing/plot_directed.py
airflow/venv_airflow/share/doc/networkx-3.1/examples/drawing/plot_edge_colormap.py
airflow/venv_airflow/share/doc/networkx-3.1/examples/drawing/plot_ego_graph.py
airflow/venv_airflow/share/doc/networkx-3.1/examples/drawing/plot_eigenvalues.py
airflow/venv_airflow/share/doc/networkx-3.1/examples/drawing/plot_four_grids.py
airflow/venv_airflow/share/doc/networkx-3.1/examples/drawing/plot_house_with_colors.py
airflow/venv_airflow/share/doc/networkx-3.1/examples/drawing/plot_knuth_miles.py
airflow/venv_airflow/share/doc/networkx-3.1/examples/drawing/plot_labels_and_colors.py
airflow/venv_airflow/share/doc/networkx-3.1/examples/drawing/plot_multipartite_graph.py
airflow/venv_airflow/share/doc/networkx-3.1/examples/drawing/plot_node_colormap.py
airflow/venv_airflow/share/doc/networkx-3.1/examples/drawing/plot_rainbow_coloring.py
airflow/venv_airflow/share/doc/networkx-3.1/examples/drawing/plot_random_geometric_graph.py
airflow/venv_airflow/share/doc/networkx-3.1/examples/drawing/plot_sampson.py
airflow/venv_airflow/share/doc/networkx-3.1/examples/drawing/plot_selfloops.py
airflow/venv_airflow/share/doc/networkx-3.1/examples/drawing/plot_simple_path.py
airflow/venv_airflow/share/doc/networkx-3.1/examples/drawing/plot_spectral_grid.py
airflow/venv_airflow/share/doc/networkx-3.1/examples/drawing/plot_tsp.py
airflow/venv_airflow/share/doc/networkx-3.1/examples/drawing/plot_unix_email.py
airflow/venv_airflow/share/doc/networkx-3.1/examples/drawing/plot_weighted_graph.py
airflow/venv_airflow/share/doc/networkx-3.1/examples/drawing/README.txt
airflow/venv_airflow/share/doc/networkx-3.1/examples/drawing/unix_email.mbox
airflow/venv_airflow/share/doc/networkx-3.1/examples/graph/plot_dag_layout.py
airflow/venv_airflow/share/doc/networkx-3.1/examples/graph/plot_degree_sequence.py
airflow/venv_airflow/share/doc/networkx-3.1/examples/graph/plot_erdos_renyi.py
airflow/venv_airflow/share/doc/networkx-3.1/examples/graph/plot_expected_degree_sequence.py
airflow/venv_airflow/share/doc/networkx-3.1/examples/graph/plot_football.py
airflow/venv_airflow/share/doc/networkx-3.1/examples/graph/plot_karate_club.py
airflow/venv_airflow/share/doc/networkx-3.1/examples/graph/plot_morse_trie.py
airflow/venv_airflow/share/doc/networkx-3.1/examples/graph/plot_mst.py
airflow/venv_airflow/share/doc/networkx-3.1/examples/graph/plot_napoleon_russian_campaign.py
airflow/venv_airflow/share/doc/networkx-3.1/examples/graph/plot_roget.py
airflow/venv_airflow/share/doc/networkx-3.1/examples/graph/plot_triad_types.py
airflow/venv_airflow/share/doc/networkx-3.1/examples/graph/plot_words.py
airflow/venv_airflow/share/doc/networkx-3.1/examples/graph/README.txt
airflow/venv_airflow/share/doc/networkx-3.1/examples/graph/roget_dat.txt.gz
airflow/venv_airflow/share/doc/networkx-3.1/examples/graph/words_dat.txt.gz
airflow/venv_airflow/share/doc/networkx-3.1/examples/subclass/plot_antigraph.py
airflow/venv_airflow/share/doc/networkx-3.1/examples/subclass/plot_printgraph.py
airflow/venv_airflow/share/doc/networkx-3.1/examples/subclass/README.txt
airflow/venv_airflow/share/man/man1/isympy.1
airflow/plugins/df_regoup_data (copie).parquet
airflow/plugins/data_test.parquet
streamlit/nltk/fr_core_news_sm/__init__.py
streamlit/nltk/fr_core_news_sm/meta.json
streamlit/nltk/fr_core_news_sm/fr_core_news_sm-3.5.0/accuracy.json
streamlit/nltk/fr_core_news_sm/fr_core_news_sm-3.5.0/config.cfg
streamlit/nltk/fr_core_news_sm/fr_core_news_sm-3.5.0/LICENSE
streamlit/nltk/fr_core_news_sm/fr_core_news_sm-3.5.0/LICENSES_SOURCES
streamlit/nltk/fr_core_news_sm/fr_core_news_sm-3.5.0/meta.json
streamlit/nltk/fr_core_news_sm/fr_core_news_sm-3.5.0/README.md
streamlit/nltk/fr_core_news_sm/fr_core_news_sm-3.5.0/tokenizer
streamlit/nltk/fr_core_news_sm/fr_core_news_sm-3.5.0/attribute_ruler/patterns
streamlit/nltk/fr_core_news_sm/fr_core_news_sm-3.5.0/lemmatizer/lookups/lookups.bin
streamlit/nltk/fr_core_news_sm/fr_core_news_sm-3.5.0/morphologizer/cfg
streamlit/nltk/fr_core_news_sm/fr_core_news_sm-3.5.0/morphologizer/model
streamlit/nltk/fr_core_news_sm/fr_core_news_sm-3.5.0/ner/cfg
streamlit/nltk/fr_core_news_sm/fr_core_news_sm-3.5.0/ner/model
streamlit/nltk/fr_core_news_sm/fr_core_news_sm-3.5.0/ner/moves
streamlit/nltk/fr_core_news_sm/fr_core_news_sm-3.5.0/parser/cfg
streamlit/nltk/fr_core_news_sm/fr_core_news_sm-3.5.0/parser/model
streamlit/nltk/fr_core_news_sm/fr_core_news_sm-3.5.0/parser/moves
streamlit/nltk/fr_core_news_sm/fr_core_news_sm-3.5.0/senter/cfg
streamlit/nltk/fr_core_news_sm/fr_core_news_sm-3.5.0/senter/model
streamlit/nltk/fr_core_news_sm/fr_core_news_sm-3.5.0/tok2vec/cfg
streamlit/nltk/fr_core_news_sm/fr_core_news_sm-3.5.0/tok2vec/model
streamlit/nltk/fr_core_news_sm/fr_core_news_sm-3.5.0/vocab/key2row
streamlit/nltk/fr_core_news_sm/fr_core_news_sm-3.5.0/vocab/lookups.bin
streamlit/nltk/fr_core_news_sm/fr_core_news_sm-3.5.0/vocab/strings.json
streamlit/nltk/fr_core_news_sm/fr_core_news_sm-3.5.0/vocab/vectors
streamlit/nltk/fr_core_news_sm/fr_core_news_sm-3.5.0/vocab/vectors.cfg
streamlit/nltk/fr_core_news_sm-3.5.0.dist-info/direct_url.json
streamlit/nltk/fr_core_news_sm-3.5.0.dist-info/entry_points.txt
streamlit/nltk/fr_core_news_sm-3.5.0.dist-info/INSTALLER
streamlit/nltk/fr_core_news_sm-3.5.0.dist-info/LICENSE
streamlit/nltk/fr_core_news_sm-3.5.0.dist-info/LICENSES_SOURCES
streamlit/nltk/fr_core_news_sm-3.5.0.dist-info/METADATA
streamlit/nltk/fr_core_news_sm-3.5.0.dist-info/RECORD
streamlit/nltk/fr_core_news_sm-3.5.0.dist-info/REQUESTED
streamlit/nltk/fr_core_news_sm-3.5.0.dist-info/top_level.txt
streamlit/nltk/fr_core_news_sm-3.5.0.dist-info/WHEEL
streamlit/nltk/stopwords/arabic
streamlit/nltk/stopwords/azerbaijani
streamlit/nltk/stopwords/basque
streamlit/nltk/stopwords/bengali
streamlit/nltk/stopwords/catalan
streamlit/nltk/stopwords/chinese
streamlit/nltk/stopwords/danish
streamlit/nltk/stopwords/dutch
streamlit/nltk/stopwords/english
streamlit/nltk/stopwords/finnish
streamlit/nltk/stopwords/french
streamlit/nltk/stopwords/german
streamlit/nltk/stopwords/greek
streamlit/nltk/stopwords/hebrew
streamlit/nltk/stopwords/hinglish
streamlit/nltk/stopwords/hungarian
streamlit/nltk/stopwords/indonesian
streamlit/nltk/stopwords/italian
streamlit/nltk/stopwords/kazakh
streamlit/nltk/stopwords/nepali
streamlit/nltk/stopwords/norwegian
streamlit/nltk/stopwords/portuguese
streamlit/nltk/stopwords/README
streamlit/nltk/stopwords/romanian
streamlit/nltk/stopwords/russian
streamlit/nltk/stopwords/slovene
streamlit/nltk/stopwords/spanish
streamlit/nltk/stopwords/swedish
streamlit/nltk/stopwords/tajik
streamlit/nltk/stopwords/turkish
streamlit/venv_streamlit/bin/google-oauthlib-tool
streamlit/venv_streamlit/bin/markdown_py
streamlit/venv_streamlit/bin/pyrsa-decrypt
streamlit/venv_streamlit/bin/pyrsa-encrypt
streamlit/venv_streamlit/bin/pyrsa-keygen
streamlit/venv_streamlit/bin/pyrsa-priv2pub
streamlit/venv_streamlit/bin/pyrsa-sign
streamlit/venv_streamlit/bin/pyrsa-verify
streamlit/venv_streamlit/bin/wheel
streamlit/nltk/corpora/stopwords.zip
streamlit/nltk/corpora/stopwords/arabic
streamlit/nltk/corpora/stopwords/azerbaijani
streamlit/nltk/corpora/stopwords/basque
streamlit/nltk/corpora/stopwords/bengali
streamlit/nltk/corpora/stopwords/catalan
streamlit/nltk/corpora/stopwords/chinese
streamlit/nltk/corpora/stopwords/danish
streamlit/nltk/corpora/stopwords/dutch
streamlit/nltk/corpora/stopwords/english
streamlit/nltk/corpora/stopwords/finnish
streamlit/nltk/corpora/stopwords/french
streamlit/nltk/corpora/stopwords/german
streamlit/nltk/corpora/stopwords/greek
streamlit/nltk/corpora/stopwords/hebrew
streamlit/nltk/corpora/stopwords/hinglish
streamlit/nltk/corpora/stopwords/hungarian
streamlit/nltk/corpora/stopwords/indonesian
streamlit/nltk/corpora/stopwords/italian
streamlit/nltk/corpora/stopwords/kazakh
streamlit/nltk/corpora/stopwords/nepali
streamlit/nltk/corpora/stopwords/norwegian
streamlit/nltk/corpora/stopwords/portuguese
streamlit/nltk/corpora/stopwords/README
streamlit/nltk/corpora/stopwords/romanian
streamlit/nltk/corpora/stopwords/russian
streamlit/nltk/corpora/stopwords/slovene
streamlit/nltk/corpora/stopwords/spanish
streamlit/nltk/corpora/stopwords/swedish
streamlit/nltk/corpora/stopwords/tajik
streamlit/nltk/corpora/stopwords/turkish
